form {
    position: absolute;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    top: 100%;
    width: 90%;
    left: 3vw;
}

input, select, textarea {
    width: 97%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 3vh;
    resize: vertical;
    margin-left: 1.5vw;
  }

  label {
      margin-left: +1vw;
  }

  #cbox {
      position: relative;
      left: -42.5vw;
      top: 1vh;
  }

  #contactinfo {
      position: absolute;
      top: 90vh;
      left: 1.5vw;
  }

  #sbtn:hover {
    background-color: rgb(99, 102, 175);
    color: white;
    cursor: pointer;
  }