
*
{
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
}
body
{
    background-color: white;
    width: 99vw;
    overflow-x: hidden;
}

ul
{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-right: 25px;
}

.title {
    color: white;
    font-weight: bold;
    letter-spacing: 0.2vw;
    font-size: 1.5vw;
    padding-right: 35vw;
    padding-top: 4.5vh;
}

ul li
{
    display: inline-block;
}

ul li a
{
    text-decoration: none;
    color: white;
    margin: 0;
    border: 1px solid transparent;
    display: block;
    width: 5vw;
    height: 8.6vh;
    padding-top: 4vh;
    padding-left: 2.5vw;
    font-size: 1vw;
}

ul li a:hover
{
    background-color: rgb(99, 102, 175);
    color: white;
}

ul li.active a
{
    background-color: lightgray;
    color: white;
}

.logo img
{
    float: left;
    width: 160px;
    height: 14vh;
}

menu
{
    position: relative;
    background-color: #5457A6;
    height: 12vh;
    width: 100%;
}
.dropdown
{
    display: none;
}
@media only screen and (max-width: 1183px) {
    ul {
        display: none;
    }
    .dropdown {
        display: show;
    }
    .dropbtn {
        background-color: #5457A6;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        top: -2vh;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: center;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
          background-color: #f1f1f1;
          font-weight: bold;
        }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: rgb(99, 102, 175);
      }
      menu, .logo img {
          max-height: 14vh;
      }

      .logo img {
          max-width: 20vw;
      }
  }

/* !!!!!!! CODE VOOR NEWS PAGINA HIERBOVEN IS ALLE DEFAULT CODE VOOR DE ALGEMENE STYLING VAN DE PAGINA */ 

#content
{
    width: 100vw;
    height: 100vh;
}


#block1, #block2, #block3, #block4, #block5, #block6, #block7, #block8
{
    background-color: #5457A6;
    position: absolute;
    width: 15%;
    height: 15%;
}

#block1
{
    left: 10%;
    top: 30%;
}

#block2
{
    right: 10%;
    top: 30%;
}

#block3
{
    right: 30%;
    top: 30%;
}

#block4
{
    left: 30%;
    top: 30%;
}

#block5
{
    left: 10%;
    top: 50%;
}

#block6
{
    right: 10%;
    top: 50%;
}

#block7
{
    right: 30%;
    top: 50%;
}

#block8
{
    left: 30%;
    top: 50%;
}

.newstitel
{
    color: white; 
    font-size: 20px;
}

.newsIMG
{
    width: 100%;
    height: 70%;
}

.newsPAR
{
    color: black;
    font-weight: bold; 
    font-style: italic;
}

.onSite
{
    color: greenyellow;
    font-weight: bold;
}

/* Verwijderd de tekst onder de nieuws berichten na 650pixels */
@media only screen and (max-width: 650px) {
    .newsPAR {
      display: none;
    }
  }

/* Titel van media berichten worden geresized naar 17pixels zodra hij voorbij 384px width is. */
  @media only screen and (max-width: 384px) {
    .newstitel {
      font-size: 17px;
    }
  }

  @media only screen and (max-height: 600px) {
    .newsPAR {
      font-size: 13px;
      letter-spacing: 2px; 
    }

    #block5, #block6, #block7, #block8
    {
        top: 70%;
    }
    .newstitel
    {
        font-size: 20px;
        height: 50%;
    }

  }

  @media only screen and (max-height: 407px) {
    .newstitel {
        position: absolute; 
      bottom: 30%;
    }
    .newsPAR{
       top: 60%; 
    }
}